<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Super stuff</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "aboot" class="menu-about"}}
        Aboot
      {{/link-to}}
      <br>
      {{#link-to "contax" class="menu-contact"}}
        Contax
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>